/*--------------------- About ---------------------*/
#about{ text-align: center; padding: 50px 0px; }
#about h1{ font-size: 40px; }
#about p{ text-align: left; font-size: 18px; }
.part2{
    background-image: url(../img/Gallery\ 1.jpg);
    background-size: auto 100%; 
}
.video-container{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
.video-container .black p{
    font-size: 50px;
    text-align: center;
    font-family: vivaldi;
    color: black;
    color: white;
}
.video-container .black{
    background-color: #0008;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    flex-wrap: wrap;
    padding: 50px;
}
.video-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.video-section video{ width: 100%;}
.part2 img{ width: 200px; }
.part2 .content{
    width: 40%;
    text-align: left;
    padding-left: 60px;
    color: white;
}
#about .paragraph{
    padding: 20px;
    display: inline-block;
    text-align: center;
}
.lessonform{
    width: 100%;
    display: flex;
    justify-content: center;
}
.lessonform form{ width: 500px; }
.aboutLessons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.aboutLessons iframe{ margin: 30px }